.btn {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.7rem 1.8rem;
  transition: 0.3s;
  &-hollow {

    &--white {
      color: white;
      border: 1px solid white;
      &:hover {
        color: black;
        background-color: rgba(255,255,255,0.7);
      }
    }

  }

}