.header-content {
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  max-width: 150px;
  img {
    width: 100%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    padding: 1rem 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}